@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* dashboard */
.dashboard {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
}

.box {
	background-color: #f0f0f0; /* Warna latar belakang default */
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
}

.box h2 {
	margin-top: 0;
	text-align: center;
}

/* Warna overlay */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Warna overlay */
	opacity: 0; /* Awalnya transparan */
	transition: opacity 0.3s ease;
}

/* Efek overlay dan teks saat hover */
.box:hover .overlay {
	opacity: 1;
}

.box:hover h2 {
	color: #fff; /* Warna teks saat hover */
}

/* Animasi */
@keyframes scale {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}

.box:hover {
	animation: scale 0.3s ease;
}

/* Warna kotak pertama */
.box:nth-child(1) {
	background-color: #b2dbbf;
}

/* Warna kotak kedua */
.box:nth-child(2) {
	background-color: #f3b562;
}

/* Warna kotak ketiga */
.box:nth-child(3) {
	background-color: #aba1ff;
}

/* form, contact, subscribe */
table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	padding: 12px;
	text-align: left;
}

td {
	padding: 8px;
	font-size: 14px;
	color: #333333;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:nth-child(odd) {
	background-color: #ffffff;
}

.action-dash {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px; /* Jarak antar elemen */
	border: 1px solid #ddd;
}

/* .action-dash-form {
	border: none;
	display: flex;
	align-items: center;
	gap: 10px; 
	margin-top: 5%;
} */

.modal-body p {
	text-align: left;
}

.label-edit {
	text-align: left;
	margin-right: 80%;
	/* color: black; */
}

.icon-dash {
	font-size: 30px;
	padding: 20px;
	margin-left: 40%;
}

.form-new {
	margin-right: 80%;
}

/* cta */
.hapus-button {
	background-color: #ff6347;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.hapus-button:hover {
	background-color: #ff3e3e;
	transform: scale(1.1);
}

.print-button {
	background-color: #29d153;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.print-button:hover {
	background-color: #7eee9a;
	transform: scale(1.1);
}

.edit-button {
	background-color: #29bdd1;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.edit-button:hover {
	background-color: #77ddeb;
	transform: scale(1.1);
}

/* Mobile Phone */
@media (max-width: 576px) {
	table {
		width: 100%; /* Ubah lebar tabel menjadi 100% */
		margin: 10px 0;
	}

	th,
	td {
		font-size: 12px; /* Mengurangi ukuran font untuk tata letak yang lebih kecil */
		padding: 6px; /* Mengurangi padding agar lebih kompak */
	}

	.action-dash {
		flex-direction: column; /* Mengubah tata letak menu aksi menjadi kolom */
	}

	/* .action-dash-form {
		margin-top: 5%; 
	} */

	.label-edit {
		margin-right: 0; /* Menghapus margin kanan pada label edit */
	}
}
